#book{
    display: grid;
    justify-content: space-between;
    grid-gap: 10px;
    grid-auto-flow: column;
}
#book > img{
    height: 500px;
}
#project-screenshot{
    display: grid;
    justify-content: space-between;
    justify-items: flex-end;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
}
#project-screenshot > img:first-child{
    width: 60%
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.title, .author, .date{
  text-align: center;
  font-style: normal;
  padding-bottom: -50pt;
}
.ans{
  display:none;
  padding-left: 10pt;
  background-color:#EDEDED;
  padding:10pt;
}
a.btn-ans span{
  color: #0c5a4d!important;
  font-family: monospace;
}
.wrap-ans{
  margin-left: 10px;
}
section ul {
  padding-left: 15px!important;
  list-style: none;
  border-left: 5px solid #117d6b;
  background-color: #7aa77a12!important;
}
ul>li>ol {
    padding-left: 10px!important;
    list-style-position: outside;
}

